*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke
}
/* #icon{
 height: 200px;
} */
#main{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: rgb(68, 68, 252);;
    border-radius: 20px;
    height: 70vh;
}
#temp{
    font-size: 100px;
    color: white;
    font-weight: bold;
}
#locationn{
    font-size: 25px;
    font-weight: bold;
    margin-left: 2%;
}
#weather{
    margin-left: 2%;
    font-size: 30px;
}
#date{
    font-size: 12px;
    margin-left: 5%;
}
#line{
width: 280px;
}
 body p{
color: white;
}
.fa-solid{
    color: white;
    height: 25px;
    width: 20px;
}
/* .fa-location-dot{
    height: 20px;
} */